In [1]:
import pandas as pd

In [31]:
data1 = pd.read_excel('testdata.xlsx')

In [32]:
data1

           cik   sameday
0      1108185  2.191667
1        70487  0.466667
2      1071342  0.461538
3      1076643  2.017857
4      1025134  0.179688
5      1110992 -0.269231
6        70487  0.466667
7      1304901 -0.233333
8      1178104  0.035000
9      1023313  0.375000
10      921742  0.246094
11     1112263  0.166667
12      855743  0.000000
13     1320092  0.010714
14     1011693 -0.021277
15     1022671  0.164062
16     1063527  0.265625
17     1282266  0.020667
18     1057672  0.036364
19     1010286  0.000000
20     1088755  0.526042
21     1030653  0.125000
22      911148  0.000000
23     1227654  0.057692
24     1371217  0.000000
25     1012623  0.138889
26      920645  0.052632
27     1023388  0.012500
28     1300514  0.605517
29     1038541  0.003472
...        ...       ...
24775  1114068  0.243333
24776   883107  0.000000
24777  1253955  0.777778
24778  1109551 -0.112500
24779  1331520  0.111111
24780  1263813  0.029412
24781  1125376 -0.150526
24782  1062530  0.161765
24783  1142750  0.274118
24784  1311538  0.000000
24785  1051825  0.246094
24786  1039757  0.086538
24787  1057379  0.225962
24788  1264388  0.031667
24789  1340752 -0.060667
24790  1036629  0.233333
24791  1158172  0.422424
24792  1094895  2.120968
24793  1060311 -0.041667
24794  1038368  0.031250
24795  1057709  0.051136
24796  1286686 -0.022500
24797   943756  0.166667
24798  1038368  0.031250
24799  1317630  0.147826
24800  1091621  1.416667
24801  1115512  0.098214
24802  1020910  0.000000
24803  1325118  0.126316
24804   883981  0.052941

[24805 rows x 2 columns]

In [34]:
y=0
base='base'
var1=[]
for i in range(0,2255):
    x=data1['sameday'][y]
    
    
    for z in range((y+1),(y+11)):
        
        p=data1['sameday'][z]
        
        if(((x-0.1)< p) & (p < (x+0.1))):
            dummy='A'
        
      
        elif(((x-0.2)< p) & (p < (x+0.2))):
            dummy='B'
        
      
        elif(((x-0.3)< p) & (p < (x+0.3))):
            dummy='C'
      
        else: 
            dummy='D'
        
        var1.append(dummy)
    
    y=y+11
    
k=0
for i in range(0,2255):
    var1.insert(k,'base')
    
    k=k+11


data1['bin']=var1

In [35]:
data1.to_excel('testresult.xlsx')