In [2]:
import re, math
from collections import Counter
import nltk
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import os

In [6]:
list1=[]
path = "C:/Users/rohit/Documents/IPO Project/riskfactors"
os.chdir(path)
dirs = os.listdir(path)
z=0
for file in dirs:
    ##print os.getcwd()
    with open (file, "r") as myfile:
        ##print myfile
        text1=myfile.read()
        list1.append(text1)
for jaffa in range(0,len(list1)):
    list1[jaffa]=nltk.sent_tokenize(list1[jaffa])

In [7]:
for daffa in range(0,len(list1)):
    for baffa in range(0,(len(list1[daffa]))):
        try:
            if str(list1[daffa][baffa][0:3]).lower()=='see':
                del(list1[daffa][baffa])
        except:
            break

In [8]:
for e in range(0,len(list1)):
    list1[e]=[str(e)+' ' + su for su in list1[e]]
    for f in range(0,len(list1[e])):
        list1[e][f] = str(f)+'_'+ list1[e][f]

In [9]:
path = "C:/Users/rohit/Documents/IPO Project/boilerplate"
os.chdir(path)
sentencelist=pd.read_csv('RF_sentencesonly_70.csv')

In [183]:
for i in range(0,len(sentencelist)):
    sentencelist['sentence'][i]=nltk.sent_tokenize(sentencelist['sentence'][i])

In [184]:
corpusdata=[]
for i in range(0,len(list1)):
    corpusdata.extend(list1[i])
    
totallength = len(corpusdata)

for i in range(0,len(sentencelist)):
    corpusdata.extend(sentencelist['sentence'][i])

tfidf = TfidfVectorizer().fit_transform(corpusdata)

In [71]:
corpusdata[]

"prior market common stock; possible volatility stock price prior offering public market common stock assurance regular trading market common stock develop offering developed sustained.'"

In [185]:
print len(corpusdata)
print totallength
print len(sentencelist)

561642
547262
14378

In [186]:
df=pd.DataFrame(columns=('sentence','count','cik'))

In [72]:
cosine_similarities = linear_kernel(tfidf[547262:547263], tfidf).flatten()

In [187]:
for tf in range(totallength,len(corpusdata)):
    cosine_similarities = linear_kernel(tfidf[tf:tf+1], tfidf[0:totallength]).flatten()
    count=0
    cik_l=[]
    cik_list=[]
    related_index=cosine_similarities.tolist()
    for v in range(0,len(related_index)):
        if related_index[v] >=0.7:
            cik_l.append(v)
    
    for ind1 in cik_l:
        cik_list.append(" ".join(corpusdata[ind1].split()[:1]))
            
    cik_final_list=str(set(cik_list))[5:-2]
    sentence=str(corpusdata[tf:tf+1])[2:-1]
    sentence_final=" ".join(sentence.split()[1:])
    df.loc[len(df)+1]=[sentence_final,count,cik_final_list]
    if tf%100==0:
        print tf

547300
547400
547500
547600
547700
547800
547900
548000
548100
548200
548300
548400
548500
548600
548700
548800
548900
549000
549100
549200
549300
549400
549500
549600
549700
549800
549900
550000
550100
550200
550300
550400
550500
550600
550700
550800
550900
551000
551100
551200
551300
551400
551500
551600
551700
551800
551900
552000
552100
552200
552300
552400
552500
552600
552700
552800
552900
553000
553100
553200
553300
553400
553500
553600
553700
553800
553900
554000
554100
554200
554300
554400
554500
554600
554700
554800
554900
555000
555100
555200
555300
555400
555500
555600
555700
555800
555900
556000
556100
556200
556300
556400
556500
556600
556700
556800
556900
557000
557100
557200
557300
557400
557500
557600
557700
557800
557900
558000
558100
558200
558300
558400
558500
558600
558700
558800
558900
559000
559100
559200
559300
559400
559500
559600
559700
559800
559900
560000
560100
560200
560300
560400
560500
560600
560700
560800
560900
561000
561100
561200
561300
561400
561500
561600

In [158]:
df

,sentence,count,cik
1,"net tangible book value per share.'""",0,"'stock', 'adjusted', 'since', 'investors', 'pr..."
2,per share adjusted net tangible book value per...,0,"'203_2110', '115_273', '151_1170', '391_1764',..."
3,per share adjusted net tangible book value per...,0,"'214_2129', '153_441', '203_2110', '115_273', ..."
4,per share net tangible book value per share co...,0,"'since', '91_552', 'result', '181_733', 'exten..."
5,per share pro forma net tangible book value sh...,0,"'stock', 'adjusted', 'initial', '259_1922', 'i..."
6,"net tangible book value per share common stock.'""",0,"'adjusted', 'since', 'investors', '135_940', '..."
7,"net tangible book value per share.'""",0,"'stock', 'adjusted', 'since', 'investors', 'pr..."
8,per share adjusted net tangible book value per...,0,"'203_2110', '115_273', '260_1771', 'suffer', '..."
9,per share net tangible book value per share co...,0,"'approximately', 'investors', 'pro', '203_2110..."
10,per share pro forma net tangible book value pe...,0,"'581_2254', '438_1796', '221_2215', 'since', '..."
11,pro forma net tangible book value per share co...,0,"'percent', '263_2217', '231_911', '203_2110', ..."
12,prior market common stock; possible volatility...,0,"'98_907', '58_883', '151_412', '162_256', 'act..."
13,dividends common stock company paid anticipate...,0,"'214_406', 'currently', '175_170', 'lack', '24..."
14,dividends company anticipate declaring paying ...,0,"'110_495', 'currently', 'lack', '87_680', '123..."
15,dividends company anticipate paying cash divid...,0,"'193_172', '110_495', 'since', '193_253', 'inv..."
16,dividends company anticipate paying cash divid...,0,"'193_172', '110_495', 'since', '193_253', 'inv..."
17,dividends company anticipate paying cash divid...,0,"'110_495', 'since', '193_253', 'investors', '1..."
18,dividends company anticipate paying dividends ...,0,"'110_495', 'since', '193_253', '175_170', '134..."
19,dividends company anticipate paying dividends ...,0,"'110_495', 'since', '193_253', '175_170', '134..."
20,dividends company anticipate paying dividends ...,0,"'110_495', 'since', '193_253', '175_170', '134..."
21,dividends company declared paid cash dividends...,0,"'declared', 'currently', '157_657', 'investors..."
22,dividends company never declared paid dividend...,0,"'121_628', '261_1025', 'declared', '193_253', ..."
23,dividends company never declared paid dividend...,0,"'214_406', 'currently', '301_1879', '175_170',..."
24,dividends company never paid cash dividends co...,0,"'214_406', 'currently', '73_545', '485_1856', ..."
25,dividends company never paid cash dividends co...,0,"'investors', 'payment', 'lack', '87_680', '142..."
26,dividends company never paid cash dividends co...,0,"'214_406', 'currently', '73_545', '485_1856', ..."
27,dividends company never paid cash dividends co...,0,"'214_406', 'currently', '73_545', '485_1856', ..."
28,dividends company never paid cash dividends co...,0,"'214_406', 'currently', '73_545', '485_1856', ..."
29,dividends company never paid cash dividends co...,0,"'214_406', 'currently', '73_545', '485_1856', ..."
30,dividends company never paid cash dividends co...,0,"'214_406', '57_956', '239_632', 'investors', '..."
...,...,...,...
14351,believe may estimate continue anticipate inten...,0,"'512_1911', '104_838', '2_1211', '2_1210', '32..."
14352,believe may estimate continue anticipate inten...,0,"'512_1911', '104_838', '2_1211', '2_1210', '32..."
14353,believe may estimate continue anticipate inten...,0,"'512_1911', '104_838', '2_1211', '2_1210', '32..."
14354,believe may estimate continue anticipate inten...,0,"'512_1911', '104_838', '2_1211', '2_1210', '32..."
14355,believe may estimate continue anticipate inten...,0,"'320_1621', 'used', '255_34', 'particular', 't..."
14356,believe may estimate continue anticipate inten...,0,"'183_1626', '313_1845', '320_1621', '239_2047'..."
14357,believe may estimate continue anticipate inten...,0,"'183_1626', '313_1845', '320_1621', '239_2047'..."
14358,believe may estimate continue anticipate inten...,0,"'183_1626', '320_1621', '210_2063', '307_1994'..."
14359,believe may estimate continue anticipate inten...,0,"'2_1211', '2_1210', '335_1682', '3_1139', '211..."
14360,believe may estimate continue anticipate inten...,0,"'2_1211', '2_1210', '335_1682', '3_1139', '211..."
14361,believe may estimate continue anticipate inten...,0,"'183_1626', '313_1845', '320_1621', '239_2047'..."
14362,believes anticipates plans expects intends est...,0,"'280_235', '188_1132', '207_212', '315_1979', ..."
14363,believes intends expects anticipates plans sim...,0,"'280_235', '188_1132', '251_1262', '207_212', ..."
14364,expect anticipate intend plan believe seek est...,0,"'244_1125', '183_1626', '283_1784', 'often', '..."
14365,expect intend plan believe project anticipate ...,0,"'244_1125', '183_1626', '320_1621', '223_676',..."
14366,expect intend plan believe project may estimat...,0,"'244_1125', '183_1626', 'words', '210_2063', '..."
14367,expects anticipates estimates intends believes...,0,"'280_235', '207_212', '315_1979', '54_233', '1..."
14368,expects intends plans projects believes estima...,0,"'280_235', 'statements', 'words', '332_2197', ..."
14369,including may could would anticipates expects ...,0,"'314_1677', '280_235', 'statements', 'words', ..."
14370,may could would expect intend plan anticipate ...,0,"'559_2228', '576_2138', '223_676', 'often', '1..."
14371,may could would predicts potential continue ex...,0,"'433_1587', '309_1674', 'use', 'used', '364_19..."
14372,may could would predicts potential continue ex...,0,"'433_1587', '309_1674', 'use', 'used', '364_19..."
14373,may could would predicts potential continue ex...,0,"'433_1587', '309_1674', 'use', 'used', '364_19..."
14374,ended december compared year ended december re...,0,"'limited', 'losses', 'interest', 'million', '1..."
14375,ended december compared year ended december re...,0,"'net', 'million', 'example', 'year'"
14376,ended december compared year ended december re...,0,"'net', 'million', 'example', 'year'"
14377,ended december nine months ended september net...,0,"'sales', 'pro', 'product', '17_1122', 'years',..."
14378,ended december six months ended june net loss ...,0,"'7_1426', '3_1405', 'consolidated', '17_1122',..."
14379,ended december six months ended june reported ...,0,"'3_1405', '17_1122', 'expenses', 'cost', 'incl..."
14380,ended six months ended june spent $.million $....,0,"'product', 'experienced', 'years', 'million', ..."

In [160]:
corpusdata[547262]

"% net tangible book value per share.'"

In [161]:
tfidf[547262:547263]

<1x604147 sparse matrix of type '<type 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [176]:
cosine_similarities = linear_kernel(tfidf[547262:547263], tfidf[0:547262]).flatten()

In [177]:
related_index=cosine_similarities.tolist()
count=0
cik_l=[]
cik_list=[]
for v in range(0,len(related_index)):
    if related_index[v] >=0.7:
        cik_l.append(v)
    
for ind1 in cik_l:
    cik_list.append(" ".join(corpusdata[ind1].split()[:1]))
    print corpusdata[ind1]
cik_final_list=str(set(cik_list))[5:-2]
print cik_final_list
#sentence=str(corpusdata[tf:tf+1])[2:-1]
#sentence_final=" ".join(sentence.split()[1:])

77_367 This represents immediate increase net tangible book value $1.10 per share existing shareholders immediate net tangible book value dilution $5.32 per share purchasers Offering.
103_382 Upon completion Offering, net tangible book value per share Common Stock, would $.78, representing immediate dilution $4.22 net tangible book value per share, 84.4%, public investors increase $.86 per share existing shareholders.
243_574 This dilution reduce net tangible book value shares since shares common stock purchase offering substantially higher per share price current average net tangible book value per share common stock.
85_838 The purchasers Common Stock offered hereby experience immediate significant dilution net tangible book value per share, present shareholders experience material increase net tangible book value per share.
303_1148 24 DILUTION Dilution net tangible book value per share represents difference amount per share paid purchasers common stock offering net tangible book value per share common stock immediately offering.
283_1215 Because expect offering price substantially higher net tangible book value per share common stock, purchase shares offering, incur dilution net tangible book value per share shares based assumed initial public offering price per share.
291_1571 Dilution net tangible book value per share represents difference amount per share paid purchasers shares common stock offering net tangible book value per share common stock immediately completion offering.
183_2010 If purchase shares common stock offering initial public offering price $13.50 per share, experience immediate substantial dilution $9.39 pro forma net tangible book value per share price pay substantially greater net tangible book value per share shares acquire, based net tangible book value per share October2, 2004.
207_2124 Investors purchasing shares offering incur immediate substantial dilution net tangible book value per share price new investors pay substantially greater net tangible book value per share shares acquired.
24_2150 The following table illustrates per share dilution Initial public offering price per share 11.00 Pro forma net tangible book value per share offering $1.32 Increase pro forma net tangible book value per share attributable new investors 2.14 Pro forma adjusted net tangible book value per share offering 3.46 Dilution per share new investors 7.54 If underwriters exercise overallotment option full, pro forma adjusted net tangible book value per share offering increase approximately $3.71 per share, representing increase existing stockholders approximately $2.38 per share, immediate dilution approximately $7.29 per share new investors.
451_2151 Based net tangible book value (deficiency) per share $(3.33) June 30, 2006 initial public offering price $12.00 per share, investors purchasing common stock offering incur immediate dilution approximately $11.38 per share net tangible book value per share common stock.
368_2171 Since price per share common stock offered substantially higher net tangible book value per share common stock, suffer substantial dilution net tangible book value common stock purchase offering.
423_2185 Dilution net tangible book value per share represents difference amount per share paid purchasers common stock offering net tangible book value per share common stock immediately thereafter.
426_2185 The following table illustrates per share dilution Assumed initial public offering price per share common stock 13.00 Net tangible book value per share common stock prior offering formation transactions(1) (0.52 Net increase pro forma net tangible book value per share common stock attributable formation transactions offering (2) 6.80 Pro forma net tangible book value per share common stock offering formation transactions (3) 6.28 Dilution pro forma net tangible book value per share common stock new investors (4) 6.72 (1) Historical net tangible book value per share determined dividing net tangible assets September30, 2006 (net book value tangible assets consists total assets less intangible assets, consist deferred financing costs acquired inplace lease value net liabilities assumed) predecessor number shares common stock outstanding, assuming issuance shares common stock issuable formation transactions (other contingent issuances) offering.
299_2233 Investors purchasing shares offering incur immediate substantial dilution net tangible book value per share price new investors pay substantially greater net tangible book value per share shares acquired.
'451_2151', '423_2185', '24_2150', '85_838', '183_2010', '243_574', '426_2185', '291_1571', '299_2233', '207_2124', '283_1215', '303_1148', '77_367', '103_382', '368_2171'

#Below code for aggregating all the above and below sentences

In [188]:
df.to_csv('RF_sentence_placing.csv')

In [1]:
path = "C:/Users/rohit/Documents/IPO Project/boilerplate"
os.chdir(path)
myfile=pd.read_csv('RF_sentencesonly_70.csv')

NameError: name 'os' is not defined

In [104]:
import re, math
from collections import Counter

WORD = re.compile(r'\w+')

def get_cosine(vec1, vec2):
     intersection = set(vec1.keys()) & set(vec2.keys())
     numerator = sum([vec1[x] * vec2[x] for x in intersection])

     sum1 = sum([vec1[x]**2 for x in vec1.keys()])
     sum2 = sum([vec2[x]**2 for x in vec2.keys()])
     denominator = math.sqrt(sum1) * math.sqrt(sum2)

     if not denominator:
        return 0.0
     else:
        return float(numerator) / denominator

def text_to_vector(text):
     words = WORD.findall(text)
     return Counter(words)

In [148]:
for i in range(0,len(myfile)):
    
    print i
    text1 = myfile['sentence'][i]
    full_cik=''
    for j in range(0,len(list1)):
        for k in range(0,len(list1[j])):
            text2 = list1[j][k]
            vector1 = text_to_vector(text1)
            vector2 = text_to_vector(text2)
            cosine = get_cosine(vector1, vector2)
            if cosine>=0.50:
                print text2.split()[:1]
                #myfile['count'][j]=0
                #myfile['sentence'][j]=''
            #new_cik=new_cik+' ,'+str(myfile['cik'][j])
        #full_cik=full_cik+new_cik
    #myfile['cik'][i]=str(set(full_cik.split()))[5:-2]

0
['154_4']
['155_4']
['180_4']
['181_4']
['185_4']
['190_4']
['81_11']
['92_11']
['361_16']
['362_16']
['363_16']
['379_16']
['382_16']
['136_18']
['140_18']
['181_22']
['183_22']
['184_22']
['186_22']
['187_22']
['133_23']
['145_23']
['157_26']
['162_26']
['170_26']
['171_26']
['174_26']
['178_26']
['144_27']
['163_28']
['180_31']
['182_31']
['188_31']
['200_33']
['201_33']
['207_33']
['215_33']
['222_33']
['225_34']
['229_34']
['230_34']
['231_34']
['244_34']
['245_34']
['251_34']
['115_37']
['137_37']
['138_37']
['246_45']
['248_45']
['249_45']
['273_45']
['287_45']
['187_49']
['190_49']
['192_49']
['202_49']
['100_52']
['160_54']
['108_55']
['112_55']
['114_55']
['115_55']
['116_55']
['117_55']
['287_56']
['288_56']
['290_56']
['311_56']
['121_65']
['207_70']
['218_70']
['219_70']
['229_70']
['230_70']
['128_74']
['130_74']
['134_74']
['148_74']
['166_75']
['173_75']
['186_75']
['189_75']
['183_77']
['184_77']
['195_77']
['156_82']
['159_82']
['3_87']
['195_87']
['196_87']
['197_87']
['198_87']
['219_87']
['55_90']
['60_90']
['78_90']
['81_90']
['82_90']
['251_93']
['252_93']
['284_93']
['285_93']
['283_95']
['284_95']
['286_95']
['324_95']
['343_95']
['438_96']
['440_96']
['517_96']
['530_96']
['531_96']
['567_96']
['221_101']
['222_101']
['237_101']
['238_101']
['244_101']
['130_103']
['133_103']
['134_103']
['135_103']
['137_103']
['318_107']
['319_107']
['321_107']
['345_107']
['347_107']
['348_107']
['213_112']
['206_116']
['222_116']
['223_116']
['224_116']
['238_116']
['239_116']
['254_117']
['256_117']
['257_117']
['262_117']
['230_119']
['386_119']
['387_119']
['388_119']
['408_119']
['147_121']
['149_121']
['155_121']
['167_121']
['129_126']
['133_126']
['137_126']
['138_126']
['182_127']
['255_128']
['260_128']
['109_131']
['218_132']
['219_132']
['224_132']
['229_132']
['203_134']
['250_135']
['257_135']
['241_136']
['243_136']
['262_136']
['263_136']
['263_144']
['342_151']
['375_151']
['380_151']
['381_151']
['382_151']
['194_152']
['197_152']
['198_152']
['199_152']
['200_152']
['202_152']
['203_152']
['281_155']
['289_155']
['290_155']
['291_155']
['248_156']
['251_156']
['252_156']
['198_157']
['199_157']
['203_157']
['214_157']
['166_162']
['167_162']
['170_162']
['170_164']
['172_164']
['178_164']
['209_164']
['246_184']
['247_184']
['249_184']
['256_184']
['119_189']
['126_189']
['134_189']
['135_189']
['142_189']
['146_189']
['143_192']
['170_212']
['176_212']
['186_212']
['189_212']
['190_212']
['145_213']
['136_219']
['137_219']
['143_219']
['144_219']
['145_219']
['172_226']
['174_226']
['176_226']
['189_226']
['125_227']
['126_227']
['143_227']
['207_230']
['221_230']
['225_230']
['194_235']
['195_235']
['216_235']
['179_237']
['181_237']
['101_239']
['114_239']
['188_242']
['202_242']
['203_242']
['211_242']
['189_254']
['196_254']
['197_254']
['201_257']
['204_257']
['41_258']
['176_264']
['183_264']
['192_264']
['198_264']
['210_264']
['3_267']
['375_276']
['376_276']
['378_276']
['380_276']
['3_279']
['207_279']
['221_279']
['558_290']
['559_290']
['560_290']
['561_290']
['562_290']
['563_290']
['558_291']
['559_291']
['560_291']
['561_291']
['562_291']
['563_291']
['558_292']
['559_292']
['560_292']
['561_292']
['562_292']
['563_292']
['558_293']
['559_293']
['560_293']
['561_293']
['562_293']
['563_293']
['3_296']
['257_296']
['258_296']
['260_296']
['238_297']
['253_297']
['138_301']
['139_301']
['144_301']
['148_301']

KeyboardInterrupt:

In [108]:
myfile['sentence'][0]

"prior market common stock; possible volatility stock price prior offering public market common stock assurance regular trading market common stock develop offering developed sustained.'"

In [39]:
newfile=pd.read_csv('riskfact_sentence_numbering.csv')
df=pd.DataFrame(columns=('index','origin_sentence','sentence_num','cik','equivalent_sentence','before_sentence','after_sentence','before4','after4'))

In [40]:
for i in range(0,len(newfile)):
    print i
    sentnum=str(newfile['cik'][i])[:-1]
    sentlist=sentnum.split(',')
    for j in range(0,len(sentlist)):
        #print j
        temp=sentlist[j]
        snum= temp.split('_')[0]
        docnum= temp.split('_')[1]
        bnum=int(snum)-1
        anum=int(snum)+1
        b4num=int(snum)-4
        a4num=int(snum)+4
        try:
            beforesent = list1[int(docnum)][int(bnum)]
        except:
            beforesent = 'start of sentence'
        try:
            aftersent = list1[int(docnum)][anum]
        except:
            aftersent = 'end of sentence'
        try:
            equivalent_sent = list1[int(docnum)][int(snum)]
        except:
            equivalent_sent='equivalent sentence cant be found'
        try:
            beforesent4 = list1[int(docnum)][b4num:int(snum)]
        except:
            beforesent4 = 'start of sentence'
        try:
            aftersent4 = list1[int(docnum)][int(snum):a4num]
        except:
            aftersent4 = 'end of sentence'
        df.loc[len(df)+1]=[i,newfile['sentence'][i],snum,docnum,equivalent_sent,beforesent,aftersent,beforesent4,aftersent4]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537

In [258]:
print 
print j
print temp
temp.split('_')[0]

11
8_569

'8'

In [41]:
df.to_csv('similarsentence_data_full_riskfact_final.csv')

In [30]:
print list1[569][8:12]

['8_569 We incurred net losses $4.7 million $6.6 million years ended December 31, 1997 1998, respectively, well net loss $6.1 million six months ended June 30, 1999.', '9_569 As June 30, 1999, incurred cumulative net losses Ccorporation $18.2 million.', '10_569 WE ANTICIPATE CONTINUED LOSSES Although believe success depend large part upon ability generate sufficient revenue achieve profitability effectively maintain existing relationships develop new relationships customers strategic partners, revenue may increase, may achieve maintain profitability.', '11_569 In particular, intend expend significant financial management resources product development, sales marketing, strategic relationships technology, operating infrastructure.']

In [29]:
snum

'8'